@charset "utf-8";

/* 
    SchoolRegistationSystem

    Home Page Layout Style Sheet
    Author: Rikki Tomiko Ehrhart
    Last Updated: 05.02.2024

    Filename: index.css
*/


/* MAIN */
.title-image img {
    z-index: 1;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0 20%;
    box-shadow: #41C9E2 0px 0px 20px;
}

.title-title h1 {
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    font-size: 6rem;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 20% 0 0 0;
    text-align: center;
    color: #F7EEDD;
    text-shadow: #ACE2E1 2px 2px 2px;
    font-family: cursive;
}


/* ARTICLE */
.article-title h2 {
    font-size: 4rem;
    font-family: cursive;
    padding: 50px 25px 0 25px;
    color: #008DDA;
    text-shadow: #000000 1px 1px 0px;
    margin: 0;
}

.article-paragraph p {
    font-size: 1.5rem;
    padding: 0 25px 0 25px;
    margin: 0;
    color: #008DDA;
}


/* TABLET STYLES */
@media only screen and (max-device-width: 769px){
    .title-title h1 {
        font-size: 4.5rem;
    }
}

/* MOBILE STYLES */
@media only screen and (max-device-width: 480px){
    .title-image img {
        object-position: center;
    }
    .title-title h1 {
        font-size: 2.5rem;
        top: 50%;
        text-shadow: #ACE2E1 1px 1px 1px;
    }
    .article-title h2 {
        font-size: 2.5rem;
        text-align: center;
    }
}