@charset "utf-8";

/* 
    SchoolRegistationSystem

    Layout Style Sheet
    Author: Rikki Tomiko Ehrhart
    Last Updated: 05.02.2024

    Filename: layout.css
*/


/* BODY */
body {
    padding: 0;
    margin: 0;
    background-color: #FEFEFE;
}
