@charset "utf-8";

/* 
    SchoolRegistationSystem

    Login Style Sheet
    Author: Rikki Tomiko Ehrhart
    Last Updated: 04.11.2024

    Filename: login.css
*/


/* BODY */
body {
    background-image: url("../images/academicssign.jpg");
    background-size: cover;
}


/* LOGIN BOX */
.loading {
    position: absolute;
    font-size: 2.5rem;
    top: 35%;
    left: 35%;
    color: #F7EEDD;
    text-shadow: #014569 0px 0px 10px;
    opacity: 1;
    transition: opacity 2s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 2s infinite;
}

.fadeOut {
    opacity: 0;
}

.login-box {
    position: absolute;
    width: 40%;
    top: 25%;
    left: 25%;
    background-color: #F7EEDD;
    padding: 10px 50px 50px 50px;
    border-radius: 25px;
    box-shadow: #008dda 0px 0px 25px;
    opacity: 0;
    transition: opacity 3s; 
}
  
.fadeIn {
    opacity: 1;
}



/* LOGIN ELEMENTS */
.login-title h1 {
    font-size: 4rem;
    text-align: center;
    color: #ACE2E1;
    text-shadow: #41c9e2 2px 2px 2px;
    font-family: cursive;
    margin: 0;
    padding: 25px 0 25px 0;
}

/* LOGIN FORM */
.form-row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 20px 0;
}

.form-row label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
    color: #014569;
    text-transform: uppercase;
}

.form-row input {
    width: 70%;
    border: none;
    border-radius: 10px;
    height: 25px;
    background-color: #ACE2E1;
    box-shadow: #008dda 1px 1px 1px;
}

/* FORM BUTTONS */
.form-submit {
    display: flex;
    justify-content: center;
}

.buttons {
    margin: 0 10px 0 10px;
    padding: 5px 50px 5px 50px;
    border-radius: 10px;
    background-color: #008dda;
    color:#ACE2E1;
}

.noLogIn {
    margin: 0 10px 0 10px;
    padding: 5px 50px 5px 50px;
    border-radius: 10px;
    background-color: rgb(207, 2, 2);
    color: white;
    box-shadow: rgb(78, 1, 1) 1px 1px 2px;
}

/* TABLET STYLES */
@media only screen and (max-device-width: 769px){
    body {
        background-image: url("../images/academicssign.jpg");
        height: 100vh;
        background-position: center;
        background-size: cover;
    }
    .loading {
        position: absolute;
        font-size: 2rem;
        top: 35%;
        left: 30%;
        color: #F7EEDD;
        text-shadow: #014569 0px 0px 10px;
        opacity: 1;
        transition: opacity 2s;
    }
}