@charset "utf-8";

/* 
    SchoolRegistationSystem

    Layout Style Sheet
    Author: Rikki Tomiko Ehrhart
    Last Updated: 05.02.2024

    Filename: registration.css
*/


/* THREE COL LAYOUT */
main {
    display: flex;
}

aside {
    padding-left: 25px;
    width: 25%;
}

article {
    width: 45%;
}

section {
    padding-left: 25px;
    width: 25%;
}


/* TITLES */

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: #008dda;
    text-align: center;
}

h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: #41c9e2;
    padding: 0;
    margin: 20px 0 0 0;
}


/* FILTER STYLES */
.type-of-class, .subject {
    padding: 10px;
    margin: 25px;
}

.type-of-class label, .subject label {
    padding: 5px;
    color: #01456969;
}

.filter-obj {
    margin: 10px 0 10px 0;
}


/* CLASS CARDS */
.class {
    background-color: #f7eedd60;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: #41404075 1px 1px 3px;
}

.class-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 30px;
}

.class-availablity, .class-day-time, class-add {
    width: 33%;
}



.class-description, .class-day-time {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #414040;
}


.class-availablity span {
    padding: 0px 5px 0px 0px;
    margin: 0;
}

.class-add {
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
    border: none;
    background-color: #41c9e2;
    color: white;
    box-shadow: #014569 1px 1px 2px;
}

.class-add:active {
    box-shadow: none;
}

.class-full {
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(207, 2, 2);
    color: white;
    box-shadow: rgb(78, 1, 1) 1px 1px 2px;
}

.class-full:active {
    box-shadow: none;
}


/* SELECTED CLASS LIST */
.added-class {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 30px;
    margin: 25px;
}

.added-class h5 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#014569;
}

.added-class p {
    font-size: .75rem;
}

.xButton {
    background-color: white;
    border: none;
    color: rgb(207, 2, 2);
    font-size: 1.05rem;
}

.added-class button:active{
    color:rgb(85, 1, 1);
}

.registration-button {
    padding: 5px 25px 5px 25px;
    margin: 50px 0 0 25px;
    border-radius: 10px;
    border: none;
    background-color: #41c9e2;
    color: white;
    box-shadow: #014569 1px 1px 2px;
}

.registration-button:active {
    box-shadow: none;
}


/* FILTER CHECK BOX STYLES */
.typeOfClass:checked + label, .subjectBox:checked + label {
    color: black;
}


/* REGISTRATION MESSAGE */
#registration-message {
    color: rgb(207, 2, 2);
    text-shadow: rgb(85, 1, 1) 1px 1px 1px;
    font-size: 1.5rem;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* TABLET STYLES */
@media only screen and (max-device-width: 769px){
    main {
        flex-wrap: wrap;
    }
    aside {
        display: flex;
        width: 100%;
    }
    .filter form {
        width: 100vw;
        display: flex;
    }
    .type-group {
        width: 45%;
    }
    .subject-group {
        width: 45%;
    }
    .subject {
        display: flex;
        flex-wrap: wrap;
    }
    article {
        width: 55%;
        margin-left: 25px
    }
    section {
        width: 30%;
    }
}

/* MOBILE STYLES */
@media only screen and (max-device-width: 480px){
    h3 {
        font-size: 1rem;
    }
    label {
        font-size: .75rem;
    }
    .type-of-class {
        padding: 0;
        margin: 0;
    }
    .subject {
        margin: 0;
        padding: 0;
    }
    .filter-obj {
        margin: 0;
    }
    article {
        width: 45%;
    }
    section {
        width: 40%;
    }
    h4 {
        margin-top: 10px;
        font-size: 1rem;
    }
    p {
        font-size: .75rem;
    }
    .class {
        margin: 0 0 10px 0;
    }
    .class-stats {
        display: inline;
        padding: 0;
    }
    .class-availablity, .class-day-time, class-add {
        width: 100%;
    }
    .class-description {
        margin: 5px 0 5px 0;
    }
    .class-add {
        width: 100%;
    }
    .class-full {
        width: 100%;
    }
    .added-class {
        margin: 5px;
    }
    h5 {
        font-size: .65rem;
    }
    .added-class p {
        font-size: .5rem;
    }
    .registration-button {
        margin: 15px 10px 5px 10px;
    }
    #registration-message {
        font-size: 1rem;
        text-shadow: none;
    }
}